@import '../variables/Variables.scss';
.lg-btn {
    padding: 0.5rem 2.5rem;
    background-color: $blueBgColor;
    border-radius: 4rem;
    z-index: 1;
    margin-top: 2rem;
    transition: 800ms;
}

.lg-btn a {
    text-decoration: none;
    color: $textWhiteColor;
    font-weight: 600;
    z-index: 1;
    font-size: 1.2rem
}

.md-btn {
    width: 90%;
    cursor: pointer;
}

.md-btn a {
    background-color: $blueBgColor;
    border-radius: 3rem;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    color: $textWhiteColor;
    font-weight: 600;
    display: grid;
    place-items: center;
    align-content: center;
    font-size: 1.2rem;
}


.md-btn a:hover, .lg-btn a:hover {
    color: $textBlackColor;
    transition: 400ms;
}

.lg-btn:hover {
    padding: 0.5rem 3rem;
    transition: 800ms;
}